@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: 210 100% 55%;
  --color-bg: 0 0% 100%;
  --color-fg: 0 0% 7%;
}

.dark {
  --color-bg: 0 0% 7%;
  --color-fg: 0 0% 96%;
}

html,
body,
#app {
  height: 100%;
}

body {
  @apply bg-bg text-fg antialiased;
}
